{
  "openapi": "3.1.0",
  "info": {
    "title": "Explorers Map Actions API (Read-Only)",
    "version": "1.0.0",
    "description": "Authenticated read-only HTTP API for ChatGPT to inspect existing Explorers Map editorial content, search for current records, avoid duplicates, and prepare manual drafts in chat without creating or publishing records through the API."
  },
  "servers": [
    {
      "url": "https://explorersmap.org"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Reference"
    },
    {
      "name": "Regions"
    },
    {
      "name": "Destinations"
    },
    {
      "name": "Listings"
    }
  ],
  "paths": {
    "/api/actions/v1/countries": {
      "get": {
        "operationId": "listCountries",
        "tags": [
          "Reference"
        ],
        "summary": "List countries",
        "description": "List all countries currently available in Explorers Map.",
        "responses": {
          "200": {
            "description": "Countries returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "countries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CountryRecord"
                      }
                    }
                  },
                  "required": [
                    "countries"
                  ]
                },
                "example": {
                  "countries": [
                    {
                      "slug": "united-kingdom",
                      "title": "United Kingdom",
                      "description": "Explore curated regions and destinations across the UK.",
                      "coverImage": "https://picsum.photos/seed/united-kingdom/1600/900"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/api/actions/v1/countries/{countrySlug}": {
      "get": {
        "operationId": "getCountry",
        "tags": [
          "Reference"
        ],
        "summary": "Get a country",
        "description": "Fetch one country by slug.",
        "parameters": [
          {
            "name": "countrySlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Country returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "country": {
                      "$ref": "#/components/schemas/CountryRecord"
                    }
                  },
                  "required": [
                    "country"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/actions/v1/categories": {
      "get": {
        "operationId": "listCategories",
        "tags": [
          "Reference"
        ],
        "summary": "List categories",
        "description": "List the fixed curated categories that can be used for listings.",
        "responses": {
          "200": {
            "description": "Categories returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "categories": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CategoryRecord"
                      }
                    }
                  },
                  "required": [
                    "categories"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/api/actions/v1/countries/{countrySlug}/regions": {
      "get": {
        "operationId": "listRegions",
        "tags": [
          "Regions"
        ],
        "summary": "List regions",
        "description": "List all regions in a country.",
        "parameters": [
          {
            "name": "countrySlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Regions returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "regions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RegionRecord"
                      }
                    }
                  },
                  "required": [
                    "regions"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/actions/v1/countries/{countrySlug}/regions/search": {
      "get": {
        "operationId": "findRegion",
        "tags": [
          "Regions"
        ],
        "summary": "Search regions",
        "description": "Search regions by title or slug and return exact, candidate, or not-found results.",
        "parameters": [
          {
            "name": "countrySlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search result returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/actions/v1/countries/{countrySlug}/regions/{regionSlug}": {
      "get": {
        "operationId": "getRegion",
        "tags": [
          "Regions"
        ],
        "summary": "Get a region",
        "description": "Fetch one region by country and region slug.",
        "parameters": [
          {
            "name": "countrySlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "regionSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Region returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "region": {
                      "$ref": "#/components/schemas/RegionRecord"
                    }
                  },
                  "required": [
                    "region"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/actions/v1/countries/{countrySlug}/destinations": {
      "get": {
        "operationId": "listDestinations",
        "tags": [
          "Destinations"
        ],
        "summary": "List destinations",
        "description": "List all destinations in a country, optionally narrowed to destinations linked to one region.",
        "parameters": [
          {
            "name": "countrySlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "regionSlug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional region slug to return only destinations linked to that region."
          }
        ],
        "responses": {
          "200": {
            "description": "Destinations returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "destinations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DestinationRecord"
                      }
                    }
                  },
                  "required": [
                    "destinations"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/actions/v1/countries/{countrySlug}/destinations/search": {
      "get": {
        "operationId": "findDestination",
        "tags": [
          "Destinations"
        ],
        "summary": "Search destinations",
        "description": "Search destinations by title or slug, optionally boosting results linked to a specific region.",
        "parameters": [
          {
            "name": "countrySlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20
            }
          },
          {
            "name": "regionSlug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional region slug to prefer destinations already linked to that region."
          }
        ],
        "responses": {
          "200": {
            "description": "Search result returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/actions/v1/countries/{countrySlug}/destinations/{destinationSlug}": {
      "get": {
        "operationId": "getDestination",
        "tags": [
          "Destinations"
        ],
        "summary": "Get a destination",
        "description": "Fetch one destination by country and destination slug.",
        "parameters": [
          {
            "name": "countrySlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Destination returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "destination": {
                      "$ref": "#/components/schemas/DestinationRecord"
                    }
                  },
                  "required": [
                    "destination"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/actions/v1/countries/{countrySlug}/regions/{regionSlug}/listings": {
      "get": {
        "operationId": "listListingsForRegion",
        "tags": [
          "Listings"
        ],
        "summary": "List listings in a region",
        "description": "List editorial-visible listings in a region. Drafts are included and trashed listings are excluded.",
        "parameters": [
          {
            "name": "countrySlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "regionSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listings returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "listings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListingRecord"
                      }
                    }
                  },
                  "required": [
                    "listings"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/actions/v1/countries/{countrySlug}/destinations/{destinationSlug}/listings": {
      "get": {
        "operationId": "listListingsForDestination",
        "tags": [
          "Listings"
        ],
        "summary": "List listings in a destination",
        "description": "List editorial-visible listings explicitly linked to a destination. Drafts are included and trashed listings are excluded.",
        "parameters": [
          {
            "name": "countrySlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listings returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "listings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListingRecord"
                      }
                    }
                  },
                  "required": [
                    "listings"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/actions/v1/countries/{countrySlug}/listings/search": {
      "get": {
        "operationId": "findListing",
        "tags": [
          "Listings"
        ],
        "summary": "Search listings",
        "description": "Search listings by title or slug, optionally scoped by region or destination and optionally boosted by coordinates.",
        "parameters": [
          {
            "name": "countrySlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20
            }
          },
          {
            "name": "regionSlug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationSlug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search result returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/actions/v1/countries/{countrySlug}/regions/{regionSlug}/listings/{listingSlug}": {
      "get": {
        "operationId": "getListing",
        "tags": [
          "Listings"
        ],
        "summary": "Get a listing",
        "description": "Fetch one non-trashed listing by country, region, and listing slug.",
        "parameters": [
          {
            "name": "countrySlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "regionSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listingSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listing returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "listing": {
                      "$ref": "#/components/schemas/ListingRecord"
                    }
                  },
                  "required": [
                    "listing"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "parameters": {
      "CountrySlug": {
        "name": "countrySlug",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "RegionSlug": {
        "name": "regionSlug",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "DestinationSlug": {
        "name": "destinationSlug",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ListingSlug": {
        "name": "listingSlug",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Query": {
        "name": "query",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 20
        }
      }
    },
    "responses": {
      "Unauthenticated": {
        "description": "Missing or invalid bearer token.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InvalidInput": {
        "description": "Input was invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Requested record was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Conflict": {
        "description": "The request conflicted with an existing record or current state.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InsufficientEvidence": {
        "description": "Evidence was required but missing or empty.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "CategoryRecord": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "slug",
          "title"
        ]
      },
      "CountryRecord": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "coverImage": {
            "type": "string"
          }
        },
        "required": [
          "slug",
          "title",
          "description",
          "coverImage"
        ]
      },
      "RegionRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "countrySlug": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "coverImage": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "countrySlug",
          "slug",
          "title",
          "description",
          "coverImage"
        ]
      },
      "DestinationRegionRecord": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "slug",
          "title"
        ]
      },
      "DestinationRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "countrySlug": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "coverImage": {
            "type": "string"
          },
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DestinationRegionRecord"
            }
          }
        },
        "required": [
          "id",
          "countrySlug",
          "slug",
          "title",
          "description",
          "coverImage",
          "regions"
        ]
      },
      "ListingCategoryRecord": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "slug",
          "title"
        ]
      },
      "ListingDestinationRecord": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "slug",
          "title"
        ]
      },
      "ListingImageRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          },
          "sortOrder": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "imageUrl",
          "sortOrder"
        ]
      },
      "ListingRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "countrySlug": {
            "type": "string"
          },
          "regionSlug": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published"
            ],
            "description": "Editorial lifecycle state. Read responses may include draft records because editor-visible listing reads include drafts while excluding trashed content."
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "shortDescription": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "busynessRating": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          },
          "googleMapsPlaceUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "coverImage": {
            "type": "string"
          },
          "category": {
            "$ref": "#/components/schemas/ListingCategoryRecord"
          },
          "destinations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListingDestinationRecord"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListingImageRecord"
            }
          },
          "source": {
            "type": "string"
          },
          "createdBy": {
            "type": [
              "string",
              "null"
            ]
          },
          "updatedBy": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "countrySlug",
          "regionSlug",
          "slug",
          "title",
          "status",
          "deletedAt",
          "shortDescription",
          "description",
          "latitude",
          "longitude",
          "busynessRating",
          "googleMapsPlaceUrl",
          "coverImage",
          "category",
          "destinations",
          "images",
          "source",
          "createdBy",
          "updatedBy",
          "createdAt",
          "updatedAt"
        ]
      },
      "MatchCandidate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "region",
              "destination",
              "listing"
            ]
          },
          "countrySlug": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "regionSlug": {
            "type": "string"
          },
          "regionTitle": {
            "type": "string"
          },
          "confidence": {
            "type": "number"
          },
          "reasons": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "type",
          "countrySlug",
          "slug",
          "title",
          "confidence",
          "reasons"
        ]
      },
      "FindResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "exact_match",
              "candidate_matches",
              "not_found"
            ]
          },
          "confidence": {
            "type": "number"
          },
          "reasons": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "candidates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MatchCandidate"
            }
          }
        },
        "required": [
          "status",
          "confidence",
          "reasons",
          "candidates"
        ]
      }
    }
  }
}
